span.tristes{font-style: oblique;}

span.negrita{
    font-weight: bold;
}

span.enana { font-size: larger;}
ul{
    list-style-type: square;
}
ul{
    list-style-image: url("img/1111\ \(1\).png");
}

ol{
    list-style-image: url("img/balondeoro\ \(1\).png") ;
}